body {
    background-color: rgb(29, 29, 29);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
}

.li {
    color: rgb(61, 116, 233);
}

.il {
    color: red;
}

.skibidi {
    width: 200px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    border-left: 30px solid green;
}

.ski {
    border: 10px datted blueviolet;
    width: 201px;
    height: 101px;
}
a{
    text-decoration: none;
}