.Item2{
    height: 200px;
    width: 200px;
    border: 10px outset aquamarine;
    border-radius: 10px;
    transition: 0.4s;
    opacity: 0.5;
}
.Item1{
    height: 200px;
    width: 190px;
    border: 5px inset rgb(11, 253, 3);
    border-radius: 20px;
}
#Tarado{
    border: 10px outset rgb(150, 150, 255);
}
.Item2:hover{
    border-radius: 150px;
    opacity: 1;
}
