body{background-color: rgb(61, 61, 61);    
    font-family: 'Arial';
}
h1{font-size: 38px;
    color: rgb(185, 185, 35);
}
p{font-size: 20px;
    color: rgb(236, 236, 16);
}
h2{font-size: 33px;
    color: rgb(124, 124, 71);
}
h3{font-size: 29px;
    color: #fdff71;
}
h4{font-size: 23px;
    color: rgb(233, 233, 158);
}
td{font-size: 20px;
    color: yellow;
}
th{font-size: 20px;
    color: rgb(150, 150, 15);
}
li{font-size: 20px;
    color: rgb(253, 253, 133);
}
ol{font-size: 20px;
    color: rgb(167, 167, 66);
}
ul{font-size: 20px;
    color: #fdff71;
}
a{color: crimson;
}
