body{background-color: rgb(255, 255, 255);    
    font-family: 'Arial';
}
h1{font-size: 38px;
    color: rgb(20, 20, 20);
}
p{font-size: 20px;
    color: rgb(20, 20, 20);
}
h2{font-size: 33px;
    color: rgb(20, 20, 20);
}
h3{font-size: 29px;
    color: rgb(20, 20, 20);
}
h4{font-size: 23px;
    color: rgb(20, 20, 20);
}
td{font-size: 20px;
    color: rgb(20, 20, 20);
}
th{font-size: 20px;
    color: rgb(20, 20, 20);
}
li{font-size: 20px;
    color: rgb(20, 20, 20);
}
ol{font-size: 20px;
    color: rgb(20, 20, 20);
}
ul{font-size: 20px;
    color: rgb(20, 20, 20);
}
a{color: crimson;
}

