body{
    background-color: lightblue;
}
form{
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    gap: 3px;
}
form input, form select{
    background-color: lightseagreen;
    border: none;
    padding: 5px;
}
form h2{
    text-align: center;
}
form button{
    background-color: lightskyblue;
    color: black;
    border: none;
    padding: 5px;
    margin: 5px;
}