p{
    color: rgb(139, 201, 133); font-size: 20px; font-family: 'Comic Sans MS' ;
    text-decoration: underline; font-weight: bold; font-style: italic;
    background-color: rgba(160, 93, 45, 0.616); 
    height: 100px; width: 320px;
}
h1{
    color: rgb(255, 219, 12); font-size: 35px; font-family: 'Comic Sans MS' ;
}
body{
    background-color: rgb(41, 48, 41);
}
div{
    height: 200px;
    width: 400px; 
    background-color: rgb(255, 255, 255);
    border: 20px solid rgb(0, 0, 0);
    border-radius: 70px;
} 