<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skibidi Layout Mewing</title>
    <link rel="stylesheet" href="index.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/0/85.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <header>
        <nav>
            <a href="">Home</a>
            <a href="">Store</a>
            <a href="">Contatos</a>
            <a href="">Log In</a>
            <div class="drop">
                <i class="fa fa-bars"></i>
                <div>
                    <a href="">Home</a>
                    <a href="">Store</a>
                    <a href="">Contatos</a>
                    <a href="">Log In</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="center">

        <aside>Sidebar</aside>

        <main>
            ipsum dolor sit amet consectetur adipisicing elit. Repellat qui suscipit temporibus, sapiente iure omnis sit hic a pariatur vel ducimus! Magnam quis dignissimos blanditiis inventore voluptate eum facere odit.
        Placeat necessitatibus ratione sunt adipisci laborum veniam. Autem voluptates, consequatur reiciendis voluptatem esse ratione totam. Nostrum qui quas ipsam consectetur delectus doloribus dolorum officiis, impedit, dolores praesentium animi quos modi?
        Libero asperiores qui veniam nostrum fugiat voluptas! Dolor possimus non, eveniet vel dignissimos in tempore deserunt nihil aspernatur iure unde sequi molestias officiis nisi modi. Ratione illo quia quas provident.
        Earum, quidem totam qui natus ipsum dolorem nihil facilis non libero dignissimos officia sed vitae rem nemo eius. Quas distinctio temporibus saepe facere pariatur atque commodi neque voluptas quibusdam deserunt!
        Molestias beatae veritatis sed. Adipisci rerum fugit commodi laborum maiores asperiores aliquid deserunt numquam repudiandae et consequuntur reiciendis iure, reprehenderit quos doloremque itaque eligendi accusantium. Suscipit vel hic at animi?
        Blanditiis, quisquam, quas voluptatem excepturi voluptate eum nemo magni facere aliquid expedita dolorem aspernatur perferendis! Error odio molestias distinctio, totam consequuntur dolorum molestiae sit. Suscipit sunt sequi vitae quisquam quidem.
        Numquam, quae consequuntur. Aut ea consequatur vero dolore, quis officia voluptas vitae assumenda consectetur eveniet exercitationem, est aspernatur molestias nesciunt quod maxime numquam minima mollitia dolorum cum, porro quia repudiandae.
        Voluptatem totam obcaecati est maxime reprehenderit sapiente nobis, nisi nostrum atque quibusdam error expedita cupiditate ullam blanditiis doloribus ipsam sed inventore sunt quaerat, recusandae cum. Delectus libero facere deleniti quod.
        Est harum commodi saepe sapiente eum repellat illo quam eius laudantium in et, consectetur ab maiores iste veritatis perspiciatis eaque ipsa. Aperiam dolorem magnam reprehenderit facere architecto repellendus cumque? Esse?
        Nihil, eum? Fugiat distinctio voluptate explicabo magnam iusto animi ratione reiciendis obcaecati, debitis deserunt vero quas. Fugit blanditiis modi molestiae! Temporibus illum quasi quidem odio autem obcaecati omnis nam porro.
        </main>

    </div>

    <footer>Footer</footer>

</body>

</html>